<!DOCTYPE html>
<html>
<head>
  <title>Scrape-Da-News</title>
  {{!-- Bootstrap CSS --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>
<body>
  <div class="jumbotron">
    <div class="container">

    </div>
  </div>

  <div class="container">
    {{{body}}}
  </div>  
  

</body>
</html>