<!DOCTYPE html>
<html>
<head>
  <title>Scrape-Da-News</title>
  {{!-- Bootstrap CSS --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {{!-- jQuery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {{!-- Bootstrap JS --}}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {{!-- Google fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Rye|Vast+Shadow" rel="stylesheet">
  {{!-- Custom CSS --}}
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-info">
      <a class="navbar-brand" href="/">SF Chronicle Scraper</a>
      <a class="navbar-link" href="/savednews">Saved Articles</a>&nbsp;&nbsp;&nbsp;
      {{#unless saved}}
        <button type="button" class="btn btn-danger navbar-btn" id="btn-scrape">Scrape New Articles</button>
      {{/unless}}  
    </div>
  </nav>
  <div class="jumbotron text-center">
    <div id="jumbotron-text-div center-block">
      <div id="logo">
        <h1>Scrape-Da-News</h1>
        <h2>San Francisco Chronicle Edition</h2>
      </div>
    </div> 

  </div>

  <div class="container">
    {{{body}}}
  </div>
  {{!-- Client-side Javascript   --}}
  <script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>