<!DOCTYPE html>
<html>
<head>
  <title>Scrape-Da-News</title>
  {{!-- Bootstrap CSS --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  {{!-- jQuery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  {{!-- Bootstrap JS --}}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {{!-- Custom CSS --}}
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>
<body>
  <div class="jumbotron">
    <div class="container">

    </div>
  </div>

  <div class="container">
    {{{body}}}
  </div>  
  

</body>
</html>